.more-info-popup {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  background: rgba(20, 22, 24, 0.4);

  &._is-open {
    opacity: 1;
    z-index: 9999999999;
  }

  &__wrapper {
    width: 828px;
    padding: 32px;
    gap: 64px;
    background: #fff;
    @include media(870) {
      width: unset;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__cross {
    cursor: pointer;
    text-align: right;
  }
  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    @include media(870) {
      font-size: 18px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 32px;
  }
  &__flex {
    width: 100%;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-between;
    @include media(870) {
      flex-wrap: wrap;
      gap: 0px;
      padding-top: 5px;
    }
  }
  &__data {
    width: 100%;
    max-width: 300px;
    @include media(870) {
      max-width: unset;
    }
  }
  & .order-info__order-list {
    width: 100%;
  }
  & .order-info__order-list-box {
    max-height: 312px;
    overflow-y: scroll;
  }
  & .order-form__total {
    @include media(870) {
      padding-bottom: 20px;
    }
  }
}