<div class="popup more-info-popup" data-popup="more-info-popup">
    <div class="more-info-popup__wrapper">
        <div class="more-info-popup__header">
            <div class="more-info-popup__title">
                Заказ №RU125487-985471
            </div>
            <div class="more-info-popup__cross button-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <path d="M4.5 4L20.5 20" stroke="#A8A9B6"/>
                    <path d="M20.5 4L4.5 20" stroke="#A8A9B6"/>
                </svg>
            </div>
        </div>
        <div class="more-info-popup__flex">
            <div class="more-info-popup__data">
                <div class="order-form__table">
                    <div class="order-form__row">
                        <div class="order-form__row-name">Кол-во товаров:</div>
                        <div class="order-form__row-value">2</div>
                    </div>
                    <div class="order-form__row">
                        <div class="order-form__row-name">Товаров на сумму:</div>
                        <div class="order-form__row-value">2399,96 руб.</div>
                    </div>
                    <div class="order-form__row">
                        <div class="order-form__row-name">Скидка по акциям:</div>
                        <div class="order-form__row-value order-form__row-value_red">- 100,02 руб.</div>
                    </div>
                    <div class="order-form__row">
                        <div class="order-form__row-name">Доставка:</div>
                        <div class="order-form__row-value order-form__row-value_blue">бесплатно</div>
                    </div>
                </div>
                <div class="order-form__total">
                    <div class="order-form__total-title">
                        Итого
                    </div>
                    <div class="order-form__total-value">
                        2299,94 руб.
                    </div>
                </div>
            </div>
            <div class="order-info__order-list">
                <div class="order-info__order-list-box">
                    <div class="order-info__order-list-box__item">
                        <div class="order-info__order-list-box__item-img">
                            <a href="#"><img src="images/good1.png" alt=""></a>
                        </div>
                        <div class="order-info__order-list-box__item-info">
                            <div class="order-info__order-list-box__item-info__data">
                                <div class="order-info__order-list-box__item-info__name">ЖУРНАЛЬНЫЙ СТОЛИК БИАРРИТЦ
                                </div>
                                <div class="order-info__order-list-box__item-info__prices">
                                    <div class="order-info__order-list-box__item-info__price">1 199,98 руб.</div>
                                    <div class="order-info__order-list-box__item-info__oldprice">1400,00 руб.</div>
                                </div>
                            </div>
                            <div class="order-info__order-list-box__item-info__count">× 1</div>
                        </div>
                    </div>
                    <div class="order-info__order-list-box__item">
                        <div class="order-info__order-list-box__item-img">
                            <a href="#"><img src="images/good1.png" alt=""></a>
                        </div>
                        <div class="order-info__order-list-box__item-info">
                            <div class="order-info__order-list-box__item-info__data">
                                <div class="order-info__order-list-box__item-info__name"><a href="#">ЖУРНАЛЬНЫЙ СТОЛИК
                                    БИАРРИТЦ</a></div>
                                <div class="order-info__order-list-box__item-info__prices">
                                    <div class="order-info__order-list-box__item-info__price">1 199,98 руб.</div>
                                    <div class="order-info__order-list-box__item-info__oldprice">1400,00 руб.</div>
                                </div>
                            </div>
                            <div class="order-info__order-list-box__item-info__count">× 1</div>
                        </div>
                    </div>
                    <div class="order-info__order-list-box__item">
                        <div class="order-info__order-list-box__item-img">
                            <a href="#"><img src="images/good2.png" alt=""></a>
                        </div>
                        <div class="order-info__order-list-box__item-info">
                            <div class="order-info__order-list-box__item-info__data">
                                <div class="order-info__order-list-box__item-info__name"><a href="#">ТУМБА ПОД
                                    УМЫВАЛЬНИК АТЛАНТА</a></div>
                                <div class="order-info__order-list-box__item-info__prices">
                                    <div class="order-info__order-list-box__item-info__price">1 199,98 руб.</div>
                                    <div class="order-info__order-list-box__item-info__oldprice"></div>
                                </div>
                            </div>
                            <div class="order-info__order-list-box__item-info__count">× 1</div>
                        </div>
                    </div>
                    <div class="order-info__order-list-box__item">
                        <div class="order-info__order-list-box__item-img">
                            <a href="#"><img src="images/good1.png" alt=""></a>
                        </div>
                        <div class="order-info__order-list-box__item-info">
                            <div class="order-info__order-list-box__item-info__data">
                                <div class="order-info__order-list-box__item-info__name"><a href="#">ТУМБА ПОД
                                    УМЫВАЛЬНИК АТЛАНТА</a></div>
                                <div class="order-info__order-list-box__item-info__prices">
                                    <div class="order-info__order-list-box__item-info__price">1 199,98 руб.</div>
                                    <div class="order-info__order-list-box__item-info__oldprice"></div>
                                </div>
                            </div>
                            <div class="order-info__order-list-box__item-info__count">× 1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-info-popup__footer">
            <div class="personal-section__orders-item__buttons_grey" data-type="cancel-popup">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7 6.9995L17.0011 17.0006" stroke="#80818E" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.99893 17.0006L17 6.9995" stroke="#80818E" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Отменить заказ
            </div>
            <div class="personal-section__orders-item__buttons_blue end">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18.04 13.55C17.62 13.96 17.38 14.55 17.44 15.18C17.53 16.26 18.52 17.05 19.6 17.05H21.5V18.24C21.5 20.31 19.81 22 17.74 22H6.26C4.19 22 2.5 20.31 2.5 18.24V11.51C2.5 9.44001 4.19 7.75 6.26 7.75H17.74C19.81 7.75 21.5 9.44001 21.5 11.51V12.95H19.48C18.92 12.95 18.41 13.17 18.04 13.55Z" stroke="#00A0DC" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.5 12.41V7.84004C2.5 6.65004 3.23 5.59 4.34 5.17L12.28 2.17C13.52 1.7 14.85 2.62003 14.85 3.95003V7.75002" stroke="#00A0DC" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.5588 13.9702V16.0302C22.5588 16.5802 22.1188 17.0302 21.5588 17.0502H19.5988C18.5188 17.0502 17.5288 16.2602 17.4388 15.1802C17.3788 14.5502 17.6188 13.9602 18.0388 13.5502C18.4088 13.1702 18.9188 12.9502 19.4788 12.9502H21.5588C22.1188 12.9702 22.5588 13.4202 22.5588 13.9702Z" stroke="#00A0DC" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 12H14" stroke="#00A0DC" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Оплатить
            </div>
        </div>
    </div>
</div>
