.button {
  border-radius: 8px;
  background: #FFF;
  color: #373843;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
  padding: 22px 48px;
  display: block;
  width: fit-content;
}
