.side-popup {
  &._is-open {
    opacity: 1;
    z-index: 9999999;

    .side-popup-wrapper {
      transform: translateX(0);
    }
  }

  &-wrapper {
    transform: translateX(100%);
    left: initial;
    right: 0;
    overflow: initial;
    overflow-x: initial;
    justify-content: initial;
    height: 100vh;
  }

  &__content-wrapper {
    height: inherit;
    overflow: auto;
    display: grid;
    grid-template-rows: 1fr auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    @include media(600) {
      display: flex;
      flex-direction: column;
    }
  }

  .close-popup {
    display: flex;
    width: fit-content;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: #EFEFF8;
    margin-left: -65px;
    cursor: pointer;
    position: relative;
    z-index: 999999999999;

    @include media(650) {
      margin-left: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-self: center;

    @include media(600) {
      height: auto;
      align-self: initial;
    }
  }

  &__title {
    color: #373843;
    font-family: 'Montserrat Alternates';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.9px;
    text-align: center;
  }

  .form-block__form {
    margin-top: 32px;
    width: 100%;

    .form-block__controls {
      display: grid;
      gap: 20px;
    }

    .form-control {
      position: relative;

      &--error {
        input {
          border-bottom: 1px solid #EB5757;
        }

        .pristine-error {
          color: #EB5757;
          font-size: 12px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: -0.36px;
          margin-top: 4px;
        }

        .form-control__password-btn {
          transform: translateY(calc(-50% - 7px));
        }
      }


      &__input {
        padding: 23px 45px 23px 16px;
        width: 100%;
        border-radius: 8px;
        background: #F6F6F6;

        color: #373843;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.42px;

        &::placeholder {
          color: #A8A9B6;
        }
      }

      &__password-btn {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }

      &__col-checkbox {
        @extend %flex;
        justify-content: space-between;
        margin-top: 12px;
      }

      &__text {
        color: #80818E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.42px;

        a {
          color: #80818E;
          text-decoration: underline;
        }
      }
    }

    .form-block__btn {
      width: 100%;
      padding: 20px 48px;
      text-align: center;
      border-radius: 8px;
      background: #373843;
      margin-top: 32px;
      transition: 0.35s;

      &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), #373843;
        transition: 0.35s;
      }

      span {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.48px;
      }
    }
  }

  .form-block__footer {
    align-self: flex-end;
    margin-top: 30px;

    @include media(600) {
      margin-top: 50px;
      align-self: initial;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-left: 24px;
      }
    }
  }

  &.reg, &.reg-jur {
    .form-control__col-checkbox {
      .custom-checkbox + label {
        display: flex;
        align-items: flex-start;

        span {
          color: #80818E;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: -0.42px;
        }

        a {
          text-decoration: none;
          color: #00A0DC;
        }
      }
    }

    @include media(600) {
      .side-popup-wrapper {
        height: inherit;
        overflow: auto;
      }

      .form-block__footer {
        margin: 20px 0;

      }

      .side-popup__content-wrapper {
        padding-bottom: 60px;
      }
    }
  }
}
