<div class="popup review-form-popup" data-popup="form-success">
    <div class="review-form-popup__wrapper">
        <div class="review-form-popup__header">
            <div class="review-form-popup__cross button-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <path d="M4.5 4L20.5 20" stroke="#A8A9B6"/>
                    <path d="M20.5 4L4.5 20" stroke="#A8A9B6"/>
                </svg>
            </div>
        </div>
        <div class="form-success">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256"
                 style="fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><circle cx="24" cy="24" r="20" fill="#00a0dc"></circle><path d="M22.491,30.69c-0.576,0 -1.152,-0.22 -1.591,-0.659l-6.083,-6.084c-0.879,-0.878 -0.879,-2.303 0,-3.182c0.878,-0.879 2.304,-0.879 3.182,0l6.083,6.084c0.879,0.878 0.879,2.303 0,3.182c-0.439,0.439 -1.015,0.659 -1.591,0.659z" fill="#ffffff"></path><path d="M22.491,30.69c-0.576,0 -1.152,-0.22 -1.591,-0.659c-0.879,-0.878 -0.879,-2.303 0,-3.182l9.539,-9.539c0.878,-0.879 2.304,-0.879 3.182,0c0.879,0.878 0.879,2.303 0,3.182l-9.539,9.539c-0.439,0.439 -1.015,0.659 -1.591,0.659z" fill="#ffffff"></path></g></g>
            </svg>
            </svg>
            <div class="form-success__title">
                Успех!
            </div>
            <div class="form-success__subtitle">
                Мы получили вашу заявку. Скоро наш менеджер свяжется с вами.
            </div>
            <button class="review-slider__button_btn button-close">Супер!</button>
        </div>
    </div>
</div>
<div class="popup review-form-popup" data-popup="form-fail">
    <div class="review-form-popup__wrapper">
        <div class="review-form-popup__header">
            <div class="review-form-popup__cross button-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <path d="M4.5 4L20.5 20" stroke="#A8A9B6"/>
                    <path d="M20.5 4L4.5 20" stroke="#A8A9B6"/>
                </svg>
            </div>
        </div>
        <div class="form-success">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
                <path fill="#f44336" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#fff" d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"></path><path fill="#fff" d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"></path>
            </svg>
            </svg>
            <div class="form-success__title">
                Ошибка!
            </div>
            <div class="form-success__subtitle">
                Что-то пошло не так. Попробуйте снова позже.
            </div>
            <button class="review-slider__button_btn button-close">Закрыть</button>
        </div>
    </div>
</div>