<div class="popup prof-popup" data-popup="express">
    <div class="prof-popup__wrapper">
        <div class="prof-popup__cross button-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M4.5 4L20.5 20" stroke="#A8A9B6"/>
                <path d="M20.5 4L4.5 20" stroke="#A8A9B6"/>
            </svg>
        </div>
        <div class="prof-popup__header">
            <div class="prof-popup__title">
                Белюкс
                <span>Экспресс</span>
            </div>

            <div class="prof-popup__subtitle">
                Срочная служба доставки для Минска , где мы предлагаем нашему сообществу специалистов по строительству и ремонту застрахованную доставку в течении  8 часов  продукта, который они выбирают из нашего выбора. Пользуясь следующими преимуществами
            </div>
        </div>

        <div class="prof-popup__content">
            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i1.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Нет ежемесячной платы после подписания соглашения
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i2.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Полный каталог срочных продуктов
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i3.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Транспорт Белюкс с максимальными гарантиями
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i4.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Приоритетное и сверхбыстрое управление
                </div>
            </div>
        </div>

        <div class="prof-popup__content">
            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i5.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Застрахованная доставка в течение 8 часов
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i6.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Преимущества в оплате,
                    гибкость финансирования
                </div>
            </div>


        </div>
    </div>
</div>




<div class="popup prof-popup" data-popup="72">
    <div class="prof-popup__wrapper">
        <div class="prof-popup__cross button-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M4.5 4L20.5 20" stroke="#A8A9B6"/>
                <path d="M20.5 4L4.5 20" stroke="#A8A9B6"/>
            </svg>
        </div>
        <div class="prof-popup__header">
            <div class="prof-popup__title">
                Белюкс
                <span>72</span>
            </div>

            <div class="prof-popup__subtitle">
                Срочная служба доставки для РБ, где мы предлагаем нашему сообществу специалистов по строительству и ремонту гарантированную доставку в течение 72 часов продукта, который они выбирают из нашего выбора. Пользуясь следующими преимуществами:
            </div>
        </div>

        <div class="prof-popup__content">
            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i5.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Застрахованная доставка в течение 72 часов
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i2.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Полный каталог срочных продуктов
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i3.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Прямой транспорт Белюкс с максимальными гарантиями
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i4.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Приоритетное и сверхбыстрое управление
                </div>
            </div>
        </div>

        <div class="prof-popup__content">
            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i6.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Преимущества в оплате,
                    гибкость финансирования
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i1.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Нет ежемесячной платы после подписания соглашения
                </div>
            </div>


        </div>
    </div>
</div>




<div class="popup prof-popup" data-popup="pro">
    <div class="prof-popup__wrapper">
        <div class="prof-popup__cross button-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M4.5 4L20.5 20" stroke="#A8A9B6"/>
                <path d="M20.5 4L4.5 20" stroke="#A8A9B6"/>
            </svg>
        </div>
        <div class="prof-popup__header">
            <div class="prof-popup__title">
                Белюкс
                <span>Про</span>
            </div>

            <div class="prof-popup__subtitle">
                Стандартное обслуживание для нашего сообщества специалистов по строительству и ремонту, которые пользуются следующими преимуществами:КС ПРО
            </div>
        </div>

        <div class="prof-popup__content">
            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i2.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Разнообразный и полный ассортимент продуктов для ванной комнаты
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i8.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Специальные цены на каждый продукт и скидки
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i1.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Преимущества в оплате,
                    гибкость финансирования
                </div>
            </div>

            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i4.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Приоритетное и сверхбыстрое управление
                </div>
            </div>
        </div>

        <div class="prof-popup__content">
            <div class="prof-popup__item">
                <div class="prof-popup__img-wrapper">
                    <img src="images/icons/i1.svg" alt="Belux">
                </div>
                <div class="prof-popup__text">
                    Нет ежемесячной платы после подписания соглашения
                </div>
            </div>



        </div>
    </div>
</div>
