<div class="popup pickup-popup" data-popup="pickup-popup">
    <div class="pickup-popup__wrapper">
        <div class="pickup-popup__header">
            <div class="pickup-popup__title">
                Выберите пункт выдачи
            </div>
            <div class="pickup-popup__cross button-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <path d="M4.5 4L20.5 20" stroke="#A8A9B6"/>
                    <path d="M20.5 4L4.5 20" stroke="#A8A9B6"/>
                </svg>
            </div>
        </div>
        <div class="pickup-popup__items">
            <div class="pickup-popup__item">
                <div class="pickup-popup__checkbox">
                    <label for="pick1">
                        <div class="pickup-popup__checkbox-label">
                            <div class="pickup-popup__checkbox-label__city">Минск</div>
                            <div class="pickup-popup__checkbox-label__address">ул. Мельникайте, 8А</div>
                        </div>
                    </label>
                    <input type="radio" id="pick1">
                </div>
                <div class="pickup-popup__item-info" id="infopick1">
                    <div class="pickup-popup__item-info__left">
                        пн-пт: 9:00 — 17:30,<br>
                        сб: 10:00 — 16:00,<br>
                        вс: выходной<br>
                    </div>
                    <div class="pickup-popup__item-info__right">
                        +375 17 326-00-53<br>
                        +375 29 602-32-02<br>
                        +375 33 693-54-86<br>
                    </div>
                </div>
            </div>
            <div class="pickup-popup__item">
                <div class="pickup-popup__checkbox">
                    <label for="pick2">
                        <div class="pickup-popup__checkbox-label">
                            <div class="pickup-popup__checkbox-label__city">Жодино</div>
                            <div class="pickup-popup__checkbox-label__address">ул. Кузнечная, 30</div>
                        </div>
                    </label>
                    <input type="radio" id="pick2">
                </div>
                <div class="pickup-popup__item-info" id="infopick2">
                    <div class="pickup-popup__item-info__left">
                        пн-пт: 9:00 — 17:30,<br>
                        сб: 10:00 — 16:00,<br>
                        вс: выходной<br>
                    </div>
                    <div class="pickup-popup__item-info__right">
                        +375 17 326-00-53<br>
                        +375 29 602-32-02<br>
                        +375 33 693-54-86<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="pickup-popup__footer">
            <button>Выбрать</button>
        </div>
    </div>
</div>
